.content-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: scroll;
} 

.visitor-name-box {
    padding: 0.8em;
    font-family: "NeoDunggeunmo";
    padding-left: 1em;
    background-color: #eeeeee;
    color: black;
}

.visitor-box-img {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

.visitor-box{
    flex: 10;
    display: flex;
    flex-direction: row;
}

.visitor-box-img {
    flex: 4;
    padding: 15px;
    margin-bottom: 15px;
}

.visitor-box-img>img {
    width: 100%;
    height: 100%;
    display: block;
}

.visitor-box-txt {
    flex: 5;
    text-align: left;
    padding: 40px 15px 15px 15px;
    margin-bottom: 15px;
} 